@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body {
background-color: #efefef;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

div.footer {
width: 100%;
height: 40px;
background-color:#7c091f; 
}
div.navbar {
background-color: #7c091f;
width: 100%;
height: auto;
}
div.logsign {
float:right;
}
.img-responsive:hover {
opacity: 0.7;
border-bottom: 3px solid #efefef;
}
.btn-round-lg{
border-radius: 22.5px;
}
.form-group {
margin-top: 25px;
}
div.siteimg {
width: 100%;
height: 70%;
margin-top: -21px;
}
.btn-round{
border-radius: 17px;
}
.jumbotron {
width: 50px;
height: 50px;
background-color:#000000;
}
div.space {
width: 100%;
height: 25px;
}

div.profile {
background-color: #c0cde2;
height: auto;
width: auto;
float:left;

}
div.bodycontent {
width: 100%;
height: auto;
}